@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barrio&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}
.e-main{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
}
.e-main-pageTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 12px 24px;
    box-sizing: border-box;
}
.e-main-pageTitle-header{
    padding: 20px 25px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e-main-pageTitle-headerTitle{
    font-size: 30px;
    color: black;
}
.e-main-ekitaldiZerrenda{
    padding: 8px 16px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
