.eb-main-formTable-deleteEkitaldi{
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.eb-main-formTable-inputGroup-submitErase{
    padding: 11px 22px;
    font-size: 20px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    border-radius: 7px;
}
