@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barrio&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}
.gb-main {
    width: 100%;
    height: auto;
    overflow: scroll;
    background-color: #444444;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.gb-main-guri_buruz{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
    box-sizing: border-box;
}
.gb-main-titulo_guri_buruz{
  color: #dcba42;
}
.gb-titulo-gure-historia{
    padding:1cm;
  color: #dcba42;
}
.gb-main-gure-historia{
        width: 100%;
    height: auto;
    overflow: scroll;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
     padding: 12px 24px;
}
.gb-main-aurrenekoEkitaldia-botoiaAkzioa{
    color: white;
    box-sizing: border-box;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
}
.gb_gure_historia{
        color: black;
    box-sizing: border-box;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 20px;
    text-align: justify
}