@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barrio&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

.a-main {
    width: 100%;
    height: auto;
    overflow: scroll;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.a-main-headerTopBar-logo{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-main-header {
    padding: 12px 24px;
    width: 100%;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #550000;
    box-sizing: border-box;
}

.a-main-headerTopBar {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-main-aurrenekoEkitaldia {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #444444;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.a-main-aurrenekoEkitaldia-Titulua {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    box-sizing: border-box;
}

.a-main-aurrenekoEkitaldia-ekitaldiIzena {
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

.a-main-aurrenekoEkitaldia-data {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    height: 100px;
    box-sizing: border-box;
}

.a-main-aurrenekoEkitaldia-dataTestua {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.a-main-aurrenekoEkitaldia-botoia {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    box-sizing: border-box;
}

.a-main-aurrenekoEkitaldia-botoiaAkzioa {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    font-weight: 400;
    background-color: #D4AF37;
}

.a-main-ekitaldeGehiago {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px 24px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    gap: 30px;
}

.a-main-ekitaldeGehiago-titulua {
    color: black;
    font-weight: 800;
    text-align: center;
    padding: 16px 32px;
}

.a-main-ekitaldeGehiago-txartela {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .a-main-ekitaldeGehiago {
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        padding: 30px 60px;
    }

    .eg-main-ekitakdiIrudia {
        height: 250px;
    }

    .eg-main-ekitakdiInformazioa-izena {
        font-size: 26px;
    }

    .a-main-aurrenekoEkitaldia-botoiaAkzioa {
        padding: 18px 36px;
        font-size: 22px;
        cursor: pointer;
    }

    .eg-main-ekitakdiInformazioa-erosiBotoia {
        padding: 18px 40px;
        font-size: 20px;
        cursor: pointer;
    }

    .a-main-ekitaldeGehiago-txartela {
        max-width: 1000px;
    }
}
