@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barrio&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

.l-main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #550000;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.l-main-card{
    width: 100%;
    height: 100%;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.l-main-card-header{
    width: 100%;
    height: auto;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.l-main-card-headerTitle{
    font-weight: 300;
    color: #D4AF37;
    font-size: 50px;
}
.l-main-card-formContainer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 25px;
    box-sizing: border-box;
}
.l-main-card-formContainer-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 4px 8px;
    gap: 10px
}
.l-main-card-formContainer-formInput{
    border: 2px solid black;
    background-color: #820000;
    width: 200px;
    height: auto;
    padding: 25px 30px;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.5s;
    outline: none;

}
.l-main-card-formContainer-formInput:focus{
    border: 2px solid #D4AF37;
}
.l-main-card-formContainer-formSpan{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 20px;
}
.l-main-card-formContainer-formSpan-registerLink{
    color: #00F0FF
}
.l-main-card-formContainer-formSubmit{
    height: auto;
    width: auto;
    padding: 20px 25px;
    margin-top: 20px;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 18px;
}

