.sb-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #550000;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 20px 15px;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateX(100%);
    visibility: hidden;
}
.sb-main-visible{
    visibility: visible;
    transform: translateX(0%);
}

.sb-main-itxiIkonoa {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 8px 16px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.sb-main-unOrdered {
    margin-top: auto;
    margin-bottom: auto;
}

.sb-main-unOrdered-lists {
    list-style: none;
}

.sb-main-unOrdered-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: underline;
    box-sizing: border-box;
    color: #D4AF37;
    font-size: 25px;
    padding: 15px 20px;
    text-align: center;
}

.sb-main-unOrdered-link span {
    display: block;
    padding: 15px 30px;
}

.sb-main-profile {
    width: 100%;
}

.sb-main-userProfileBar {
    background-color: #820000;
    width: 100%;
    height: auto;
    padding: 8px 16px;
    box-sizing: border-box;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    position: relative;
}

.sb-main-userProfileBar-profileIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;

}

.sb-main-userProfileBar-profileIcon-container {
    padding: 8px 16px;
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}

.sb-main-userProfileBar-izena {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sb-main-userProfileBar-izena span{
    color: #A5A5A5;
    font-size: 22px;
    text-align: center;
}
.sb-main-userProfileBar-dropUpMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    user-select: none;
}
.sb-main-userProfileBar-dropUpMenu span{
    display: block;
    font-size: 50px;
    font-weight: 200;
}
.sb-main-userProfileBar-dropUpMenu-content{
    background-color: #ED8E8E;
    width: 100%;
    height: auto;
    bottom: 70%;
    position: absolute;
    left: 0;
    right: 0;
    border: none;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 8px;
    overflow: hidden;
    box-sizing: border-box;
    visibility: hidden;
    padding: 8px 16px;
    z-index: -10;
}
.sb-main-userProfileBar-dropUpMenu-item{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 8px 16px;
    box-sizing: border-box;
}
.sb-main-userProfileBar-dropUpMenu-item span{
    color: black;
    display: block;
    font-size: 25px;
    font-weight: 800;
}
